/*GENERELT*/
* {
    box-sizing: border-box;

}

img {
    width: 100%;
    height: auto;
}

.tekstboks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2em;

}



a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
}

a:visited {
    color: black;
}

h4 {
    text-decoration: underline;
}

/*GENERELT*/

/*NAV*/

#menuknap {
    display: none;
    font-size: 2em;
    position: absolute;
    top: -1.1em;
    left: -0.6em;
}

#navbar {
    overflow: hidden;
    background-color: white;
    height: 4.6em;
}


#navbar_mobil {
    outline: 0.15em solid black;
    float: left;
    background-color: white;
    position: absolute;
    top: 4em;
    left: 1em;
    width: 10em;

}

#navbar_mobil ul {
    list-style-type: none;
    line-height: 3em;
    text-decoration: underline;
}



#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    margin-left: 2.5em;
    text-decoration: none;

    position: relative;

}

#navbar img {
    background-size: 100%;
    width: 9em;
    height: 3.5em;
    float: right;
    margin: 0.5em 2em 0 0;

}

#navbar a:hover {
    color: black;
}

#navbar a::before {
    content: '';
    display: block;
    height: 0.2em;

    background-color: black;

    position: absolute;

    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

#navbar a:hover::before {
    width: 100%;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 6em;
}

/*NAV SLUT*/

/* COVER  */



/* COVER SLUT */

/*FORSIDE*/


.forside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 3em 2em 4em 2em;

}

.forside p {
    text-align: center;
    line-height: 2em;
}

.forside ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: center | space-between;
    padding: inherit;
}


.forside ul li {
    display: inline-block;
}

.forside ul a {
    text-decoration: none;
    border: 0.1em solid black;
    background-color: black;
    color: white;
    padding: 1em 3em 1em 3em;
    transition: 0.6s ease;

}

.forside ul a:hover {
    background-color: lightgrey;
    color: white;
    opacity: 0.9;
}


/*FORSIDE SLUT*/




/*CV*/

#sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

.column1 {
    flex-basis: 20em;
    flex-grow: 1;
    padding: 3em;
    line-height: 1.5em;
}




/*CV SLUT*/

/*KONTAKT MIG*/

#sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 3.5em;

}

.column_kontakt {
    padding: 3em;


}

.column_kontakt img {
    width: 2.3em;
    height: auto;
}


/*KONTAKT MIG SLUT*/


/* OPGAVER PÅ SIDEN */


.sectionwrapper5 {
    margin: 2em;
    padding: 2em;
}

/* OPGAVER PÅ SIDEN SLUT */


/*BODY*/

body {
    background-color: white;
    /*    padding: 2em;*/
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}


.row {
    max-width: 100em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex-basis: 300px;

}

.column img:hover {
    opacity: 0.7;
    transform: scale(1.2);
}
}

.column2 {
    margin-left: 27em;
}

h1 {
    font-size: 2em;

}


.row,
.row > .column {
    padding: 0.8em;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: white;
    padding: 1em;


}

.content img {
    width: 100%;
}

/*BODY SLUT*/


/*CONTAINER FOR HVERT PROJEKT*/

.sectionwrapper4 {
    flex-wrap: wrap;
    display: flex;
}

.column4 {
    flex-basis: 19em;
    flex-grow: 1;
    margin: 2em 1em 1em 1em;
    padding: 1em;
}



/*CONTAINER FOR HVERT PROJEKT SLUT*/


/* FOOTER */

.sectionwrapper6 {
    display: flex;
    flex-wrap: wrap;
    background-color: #97c0dc;
    padding-left: 1em;

}

/* FOOOTER SLUT */



/*BURGERMENU*/

#menuknap {
    background-size: 100%;
}

.hidden {
    display: none;
}

/*
.hidden {
transform: translateX(-100%)
}
*/


#menu {
    list-style-type: none;
    /*    transisiton: transform(eller opacity) 1s;*/
}

/*BURGERMENU SLUT*/


/*MEDIA QUORRIES*/

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }


}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    #menuknap {
        display: block;
        float: left;
        padding: 1.5em
    }

    #menupunkter {
        display: none;
    }

}


/*MEDIA QUORRIES SLUT*/
